DL POLY LJ-lN    simulation

steps             10000   
equilibration steps       1000
timestep               0.0020 ps

temp          116.000
ensemble nvt hoover   0.05 1.0

no elec
cutoff                10.000 angstrom
delr                   2.00 angstrom

traj 5005  5 1

job time        5000000 seconds
close time       200 seconds

finish


rdf 10
print rdf
                                   

zden


pressure       19.0 kbar
ensemble npt hoover   0.05 1.0
job time         72000 seconds
close time       200 seconds

restart



DL POLY fcc(100)-LJ    simulation

temp            83.800
pres           0.000
steps                 2   
equilibration steps       0
timestep               0.0010 ps

ensemble  nvt hoover 0.05 1.0 

no elec
cutoff                16.000 angstrom
delr                   0.50 angstrom

stats   1
traj  0 1 1
                                   
job time        5000000 seconds
close time       200 seconds

finish



rdf 5
print rdf
zden


job time         72000 seconds
close time       200 seconds

restart



